<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
  </head>
  <body>
     <nav class="navbar navbar-expand-sm navbar-light bg-light">
  	<div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse" id="collapsibleNavbar">
         <a class="navbar-brand" href="#">
		    <img src="https://static.wixstatic.com/media/011c7cd0ff6f48499ff43819638dae17.png/v1/fill/w_80,h_80,al_c,q_80,usm_0.66_1.00_0.01/Abstract%20Pattern%206.webp" class="d-inline-block align-top" alt="">
		    <span class="navbar-brand mb-0 "><dl><dt><b>GEEKSMAN</b></dt><dd>The Ultimate Career Move</dd></dl></span> 
		  </a> 
		  <ul class="navbar-nav ml-auto">
		  <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
		  <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
		  <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
		  <li class=" nav-item"><a class="nav-link" data-toggle="modal" data-target="#myModal" ><i class="icon ion-md-open  "></i>  Login</a>
            <div id="myModal" class="modal fade col-sm-12 col-md-12" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			      	<h4 class="modal-title offset-lg-5 col-lg-5 ">Login</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			    </div>
			      <div class="modal-body">
			        <form>
			        	<div class="form-group">
					         <label for="form_email">Email </label>
		                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
		                    <div class="help-block with-errors"></div>
		                </div>
				          <div class="form-group">
				           <label for="form_password">Password </label>
		                    <input id="form_password" type="password" name="password" class="form-control" placeholder="Please enter your password*" required="required" data-error="Incorrect password">
		                    <div class="help-block with-errors"></div>
				          </div>
			        </form>
			      </div>
			      <div class="modal-footer">
			      	<button type="button" class="btn btn-outline-success mr-auto" data-toggle="modal" data-dismiss="modal" data-target="#myModal1">Sign Up</button>
			        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Login</button>
			      </div>
			    </div>

			  </div>
			</div>
		  </li>
          <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#myModal1" ><i class="icon ion-md-person-add  "></i>  Sign Up </a>
          		<div id="myModal1" class="modal fade col-sm-12 col-md-12" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			      	<h4 class="modal-title offset-lg-5 col-lg-5 ">Sign Up</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			    </div>
			      <div class="modal-body">
			        <form>
			        	<div class="form-group">
					         <label for="form_email">Email </label>
		                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
		                    <div class="help-block with-errors"></div>
		                </div>
				          <div class="form-group">
				           <label for="form_password">Password </label>
		                    <input id="form_password" type="password" name="password" class="form-control" placeholder="Please enter your password*" required="required" data-error="Incorrect password">
		                    <div class="help-block with-errors"></div>
				          </div>
				          <div class="form-group">
				           <label for="form_password">Confirm Password </label>
		                    <input id="form_password" type="password" name="password" class="form-control" placeholder="Please confirm your password*" required="required" data-error="password didn't match">
		                    <div class="help-block with-errors"></div>
				          </div>
			        </form>
			      </div>
			      <div class="modal-footer">
			      	<button type="button" class="btn btn-outline-danger mr-auto" data-dismiss="modal">Cancel</button>
			        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Sign Up</button>
			      </div>
			    </div>

			  </div>
			</div>
          </li>
		</ul>
		</div>
	</div>
</nav>



<div class="container mt-5">
	<div class="row">
		<div class="col-sm-5"></div>
		<div class="col-sm-4"><span class="color-15" style="font-family: algerian;text-transform: uppercase;"><h1 class="font_4 mt-4">ABOUT</h1></span></div>
		<div class="col-sm-5"></div>
	</div></div>

<div class="container mt-3">
	<div class="row">
		<div class="col-sm-5"></div>
		<div class="col-sm-5"><span class="color-15"><h6 class="font_4 mt-4">Unlock Your Capabilities</h6></span></div>
		<div class="col-sm-2"></div>
	</div></div>

<div class="container mt-5">
	<div class="row">
		<div class="col-sm-12 col-md-4 "><div class="container-fluid mt-2">
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJh4zyOwP4bjzKiKksPNbzQgZJzXVKsWnrW4TNrqQLZRJ-S3Xo4Q">
</div></div>
		<div class="col-sm-12 col-md-8"><span class="color-15"><h class="font_4 mt-4"><br>Ever since opening our doors, we’ve helped countless individuals achieve their career and life dreams. We are committed to providing excellent education, training and resources so that our students will thrive in today’s competitive world. With flexible program options and great instructors, we’re sure you’ll be satisfied with your education at GEEKSMAN.</h></span></div>
	</div>
</div>



 

<div class="footer mt-5 bg-light">

  <!-- Copyright -->
  <center>
  <div class="mt-3">
  	<a href=""><i style="color: gray; font-size: 1.5rem;" class="icon ion-md-mail"></i></a>&nbsp;
	<a href=""><i style="color: gray; font-size: 1.5rem;" class=" icon  ion-md-contact"></i></a>&nbsp;
	<a href=""><i style="color: gray; font-size: 1.5rem;" class=" icon  ion-md-help-circle"></i></a>&nbsp;
	<a href=""><i style="color: gray; font-size: 1.5rem;" id="chat" class="icon ion-md-chatbubbles" onclick="myfunction()"></i></a>&nbsp;
  </div>
</center>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
  </script>

</div>
  </body>
</html>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>